@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;

}

